extends pug/layout.pug
block head
    title Hello World
    meta(name="description", content="The description of index.html")
block content
    div.container.mx-auto
        h1 Welcome
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aspernatur nisi adipisci molestias? Minus minima debitis nam repudiandae sed id, fugiat blanditiis ex. Ab facilis maxime quibusdam doloribus beatae iste.
        ul 
            li texter 
            li texter 
            li texter